.collapsible {
    box-shadow: none !important;
    background: #fff;
}

#content-right {
    color: #ddd !important;
    position: relative;
    z-index: 1;
}

#nav-menu-left {
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    position: relative;
    z-index: 2;
}

#main-header {
    margin-bottom: 0;
}

#main-header header {
    padding: 0 !important;
}

.collapsible-body li a {
    display: block;
    padding: 0.5rem 0rem 0.5rem 5rem;
    border-top: 1px solid #eee;
    color: #000;
}

.collapsible-body li a:hover, .activeNav {
    background: #009688;
    color: #fff !important;
}

.content-right {

}

.table {
    font-size: 13px !important;
}

.clearfix {
    clear: both;
}

#add_register, #edit_register {
    display: none;
}

#content_message{
    display: none;
}

.main-alert {
    padding: 5px;
}

.button-mobile-menu {
    display: none;
    color: #fff;
    margin: 6px;
}

#nav-menu-left .collapsible-body {
    display: none; 
    padding-top: 0px; 
    margin-top: 0px; 
    padding-bottom: 0px; 
    margin-bottom: 0px;
}


.slide-content {
    position: absolute;
    top: 0;
    width: 100%;
}

.slide-content.ng-enter,
.slide-content.ng-leave {
    transition: all 0.5s;
    z-index: 1;
}

.slide-content.ng-enter {
    left: -100%;
    opacity: 0;
}
.slide-content.ng-enter.ng-enter-active,
.slide-content.ng-leave {
    left: 0;
    opacity: 1;
}
.slide-content.ng-leave.ng-leave-active {
    left: 100%;
    opacity: 0;
}

@media (max-width: 1199px) {
    #nav-menu-left {
        display: none !important;
    }

    .button-mobile-menu {
        display: block !important;
        position: absolute;
        top: 5;
        left: 5;
        z-index: 999;
    }

    .brand-logo {
        display: none !important;
    }
}