.collapsible {
    box-shadow: none !important;
}

#nav-menu-left {
    font-size: 12px;
    font-weight: bold;
}

#main-header {
    margin-bottom: 0;
}

#main-header header {
    padding: 0 !important;
}

.collapsible-body li a {
    display: block;
    padding: 0.5rem 0rem 0.5rem 5rem;
    border-top: 1px solid #eee;
    color: #000;
}

.collapsible-body li a:hover, .activeNav {
    background: #009688;
    color: #fff !important;
}

.content-right {

}

.table {
    font-size: 13px !important;
}

.clearfix {
    clear: both;
}

#add_register, #edit_register {
    display: none;
}

#content_message{
    display: none;
}

@media (max-width: 1399px) {
    #nav-menu-left {
        display: none !important;
    }
}